.centerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: Arial, sans-serif;
  text-align: center;
}
.questionWrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionArea {
  min-height: 120px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.optionsArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.option {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ccc;
  background: white;
  cursor: pointer;
  transition: all 0.3s;
}

.option.correct {
  background-color: #4caf50;
  color: white;
}

.option.wrong {
  background-color: #f44336;
  color: white;
}
.restartBtn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.2s;
}

